

*{
	box-sizing: border-box;
}

body{

	background: url('../assets/images/background.png') no-repeat;
	background-size: cover;

}
#g-container h1{
	text-align: center;
	margin-bottom: 20px;
	color: #AA5F58;
	font-family: 'Century Gothic';
	opacity: .6;
}

#g-container h2{
	font-family: "Century Gothic";
	margin-top: 30px;
	margin-bottom: 20px;

}



a img{
	width: 80px;
	height: 60px;
}

nav{

	opacity:.6;
	background-color: #957DAD;

}
nav li a{
	color: #2D3B4B;
	font-weight: bold;
	font-family: 'Century Gothic';
	font-size: 20px;
}

.row{
	
	font-family: 'Century Gothic';
	color: #325C74;
	text-align: justify;
	margin: 0, auto;
}

.col-md-8{
	padding:20px;
	background-color: #FEC8D8;
	opacity: .8;
	border-radius: 8px;

}

.col-md-8 h2{

	font-weight: bolder;
	margin-bottom: 30px;
}

.col-md-8 p{

	color: black;
	font-family: 'Monotype Corsiva';
	font-size: 20px;
}

.col-md-8 .one{

	font-family: 'Century Gothic';
	font-size: 30px;
	float: right;
	color: #7CAA98;
}

.col-md-12 img{
	width: 100%;
	height:90%;
	margin: 0;
	padding:0;
	border-radius: 3px;
	
}

.col-md-12 p{
	background-color: #EDCB9C;
	font-size: 20px;
	font-style: italic;
	opacity: .8;
	padding: 10px;
}

.col-md-6{
	margin-bottom: 20px;
}
.col-md-6 img{
	margin-bottom: 20px;
	border-radius: 10px;
	opacity: .9;
}
.col-md-6 h4{
	font-family: 'Century Gothic';
	font-style: italic;
	margin-top: 50px;
	margin-right:20px;
	color: #44509E;
	background-color: #ff9f77;
	padding: 20px;
	border-radius: 10px;
	opacity: .8;
	
}
 .col-md-4 h2{
 	background-color: #8FC2DF;
 	opacity: .7;
 	padding: 20px;
 	color: black;
 	font-family: 'Century Gothic';
 }

 .col-md-4{
 	margin-top: 10px;
 }

 .col-md-4 p{

 	background-color: #d5e3e3;
 	padding: 20px;
 	opacity: .9;
 	border-radius: 5px;
 }

 .col-md-4 img{
     margin-bottom: 20px;
 }

label{

	font-family: "Century Gothic";
	color: #292040;
	font-weight: bold;
}
